.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/iota-aws-full-node.iml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
